<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Mentoring System</title>
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
	<div class="container my-2">
		<h1>Mentors List</h1>
		<a th:href="@{/showNewMentorForm}" class = "btn btn-primary btn-sm mb-3">Add Mentor</a>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Mentor First Name</th>
					<th>Mentor Last Name</th>
					<th>Mentor Email</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="mentor : ${listMentors}">
					<td th:text="${mentor.firstName}"></td>
					<td th:text="${mentor.lastName}"></td>
					<td th:text="${mentor.email}"></td>
					<td><a th:href = "@{/showFormForUpdate/{id}(id=${mentor.id})}" class = "btn btn-primary">Update</a>
					<a th:href = "@{/deleteMentor/{id}(id=${mentor.id})}" class = "btn btn-danger">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>